# Virtual Environment
emotion_env/
venv/
venv_torch/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Dataset
dataset/
dataset_old/
*.jpg
*.png
*.jpeg

# Model files
*.pth
*.pt
*.ckpt

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp 