# Deep Learning Framework
torch==2.5.1+cu118
torchvision==0.20.1+cu118
torchaudio==2.5.1+cu118

# Computer Vision and Image Processing
opencv-python==4.10.0.84
pillow==10.2.0

# Scientific Computing and Data Processing
numpy==1.26.3
matplotlib==3.10.0

# Progress Bars and Utilities
tqdm==4.66.1 